.start_window {
    padding: 1rem;
    background: linear-gradient(45deg, #fca5a5, #ef4444);
    width: 90vw;
    height: 100px;
    border-radius: 1rem;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_window div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon {
    width: 25px;
    height: auto;
}

.start_window ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.btn {
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: #1e293b;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

@media (min-width: 768px) {
    .start_window {
        width: 45vw;
    }
}